---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import { getCollection } from "astro:content";
import { Image } from "astro:assets";
import Alice from "@assets/Alice.jpg";

const games = await getCollection("games");
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1 class="text-3xl">Hello, World!</h1>
    {
      games.map((game) => (
        <>
          <p>{game.data.name}</p>
          <Image src={Alice} alt={game.data.name} />
        </>
      ))
    }
  </body>
</html>
