---
// Welcome to Astro! Everything between these triple-dash code fences
// is your "component frontmatter". It never runs in the browser.
import Card from "@components/Card.astro";
---

<!-- Below is your "component template." It's just HTML, but with
     some magic sprinkled in to help you build great templates. -->
<html>
  <body>
    <h1 class="text-3xl">Hello, World!</h1>
    <div class="grid grid-cols-4 gap-4 container mx-auto">
      <Card />
    </div>
  </body>
</html>
