---
import NavBar from "@components/NavBar.astro";
---

<!doctype html>
<html lang="fr" class="smooth scroll-smooth pt-16">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>VR Café</title>
  </head>
  <body class="dark:bg-gray-800">
    <NavBar />
    <slot />
    <!-- <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script> -->
  </body>
  <!-- <script is:inline>
    function setNavHeight() {
      const nav = document.querySelector("nav");
      const root = document.querySelector(":root");
      root.style.setProperty("--navHeight", `${nav.clientHeight}px`);
    }

    window.addEventListener("resize", setNavHeight);
    window.addEventListener("DOMContentLoaded", setNavHeight);
  </script> -->
</html>

<style>
  :root {
    --navHeight: 8rem;
  }
  html {
    scroll-padding-top: var(--navHeight);
  }
</style>
